<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs'); %>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>Create Vote</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="/my-vote" class="btn btn-primary" fdprocessedid="xanrln" id="myButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>  
                    Kembali
                  </a>
            </div>
            <div class="col-sm-6">
                <form action="/create-new-vote" method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Kode Vote</label>
                      <input type="text" class="form-control" id="kodeUnik" aria-describedby="emailHelp" name="kodeUnik">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Nama Voting</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" name="namaVote">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-2 text-center">
                <label for="acakKode">Buat Kode Acak</label>
                <a href="#" onclick="acakkode()" id="acakKode" class="btn btn-light">Random Code</a>
            </div>
        </div>
    </div>
</body>
</html>